// Header
.header {
  border-bottom: 1px solid #ececec;
  position: fixed;
  z-index: 2;
  background-color: $primary-bg-color;
  width: 100%;
  top: 0;
  left: 0;
}

// Header logo
.site-nav__logo {
  color: #000000;

  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: em(24);
  line-height: 1.17;

  padding-top: 16px;
  padding-bottom: 16px;

  @include tablet-only {
    margin-right: 88px;
    padding-top: 26px;
    padding-bottom: 26px;
  }

  @include desktop {
    font-size: em(26);
    line-height: 1.2;
    margin-right: 93px;
    padding-top: 24px;
    padding-bottom: 25px;
  }
}

.header-links {
  display: flex;

  @include tablet {
    width: 100%;
  }
}

// Site navigation
.header__nav {
  display: flex;
  align-items: center;
}

.site-nav {
  margin-bottom: 64px;

  @include tablet {
    display: flex;
    align-items: center;
    margin-bottom: 0;
  }
}

.site-nav__list {
  @include tablet {
    display: flex;
    margin-bottom: 0;
  }
}

.site-nav__link {
  display: block;
  color: $title-text-color;

  font-weight: 500;
  font-size: em(30);
  line-height: 1.18;
  letter-spacing: 0.02em;

  text-decoration: none;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: 425px) {
    font-size: em(40);
  }

  @include tablet {
    font-size: em(14);
    line-height: 1.14;
    padding-top: 32px;
    padding-bottom: 32px;
  }

  &--current {
    position: relative;
    color: $accent-color;
    text-decoration: none;
  }

  @include tablet {
    &--current::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      height: 4px;
      width: 100%;
      border-radius: 2px;
      background-color: $accent-bg-color;
    }
  }

  &:focus,
  &:hover {
    color: $accent-color;
  }
}

.site-nav__item:not(:last-child) {
  @media screen and (max-width: $mobile-max) {
    margin-bottom: 32px;
  }

  @include tablet {
    margin-right: 50px;
  }
}

// Header contact info
.header__contact {
  @media screen and (max-width: $mobile-max) {
    margin-top: auto;
  }

  @include tablet {
    display: flex;
    align-items: center;
    margin-left: auto;
  }
}

.contact-info {
  @media screen and (max-width: $mobile-max) {
    margin-bottom: 64px;
    display: flex;
    flex-direction: column-reverse;
    gap: 32px;
  }

  @include tablet-only {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }

  @include desktop {
    display: flex;
  }
}

.contact-info__link:focus,
.contact-info__link:hover {
  color: $accent-color;
}

.contact-info__link {
  display: flex;
  color: $primary-text-color;

  font-weight: 500;
  font-size: em(20);
  line-height: 1.18;
  letter-spacing: 0.02em;

  text-decoration: none;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: 425px) {
    font-size: em(34);
  }

  @include tablet {
    font-size: em(12);
    line-height: 1.17;
  }

  @include desktop {
    font-size: em(14);
    line-height: 1.14;
    padding-top: 32px;
    padding-bottom: 32px;
    margin-bottom: 0;
    align-items: center;
  }
}

.contact-info__icon {
  display: flex;

  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &-mail,
  &-tel {
    margin-right: 10px;
    fill: currentColor;

    @media screen and (max-width: $mobile-max) {
      display: none;
    }
  }

  &:hover,
  &:focus {
    color: $accent-color;
  }

  @include tablet {
    justify-content: center;
  }
}

.contact-info__item:not(:last-child) {
  @include tablet-only {
    margin-bottom: 10px;
  }

  @include desktop {
    margin-right: 30px;
  }
}

.contact__social {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;

  @include tablet {
    display: none;
  }
}

.contact__link {
  font-weight: 500;
  font-size: em(14);
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: $accent-color;
  text-decoration: none;

  @media screen and (min-width: 425px) {
    font-size: em(18);
  }
}

.contact__item {
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);

  &:last-child {
    margin-right: 0px;
    padding-right: 0px;
    border: none;
  }
}
