body {
  color: $primary-text-color;
  background-color: $primary-bg-color;

  font-family: 'Roboto', sans-serif;
  font-size: em(14);
  letter-spacing: 0.03em;
  padding-top: 60px;

  @include tablet {
    padding-top: 80px;
  }
}

body.modal-open, body.menu-open {
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

input {
  margin: 0;
}

textarea {
  resize: none;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (max-width: $mobile-max) {
    max-width: 480px;
  }

  @include tablet {
    width: 768px;
  }

  @include desktop {
    width: 1280px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.accent {
  color: $accent-color;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;

  @include desktop {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
