  $primary-text-color: #757575;
  $secondary-text-color: #ffffff;
  $title-text-color: #212121;
  $primary-bg-color: #ffffff;
  $secondary-bg-color: #f5f4fa;
  $accent-color: #2196f3;
  $accent-bg-color: #2196f3;
  $accent-bg-hover-color: #188ce8;

