// // Our clients
.clients-list__url {
  color: $link-text-color;
  display: flex;
  width: 170px;
  height: 92px;
  border: 1px solid $link-text-color;
  border-radius: 4px;
  justify-content: center;
  align-items: center;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    border-color: $accent-color;
    color: $accent-color;
  }

  @include tablet {
    width: 226px;
  }

  @include desktop {
    width: 170px;
  }
}

.clients-list__icon-logo {
  fill: currentColor;

  &:hover,
  &:focus {
    border-color: $accent-color;
    color: $accent-color;
  }
}

.clients__title {
  color: $title-text-color;
  font-weight: 700;
  font-size: em(28);
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 30px;

  @include desktop {
    font-size: em(36);
    line-height: 1.17;
    margin-bottom: 50px;
  }
}
