// Our advantages
.advantages-list__heading {
  color: $title-text-color;
  font-weight: 700;
  font-size: em(14);
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;
  text-align: center;

  @include tablet {
    text-align: start;
  }
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

.advantages-list__item {
  width: 100%;

  @include tablet {
    width: 354px;
  }

  @include desktop {
    width: 270px;
  }
}

.advantages-list__text {
  line-height: 1.7;
}

.advantages-list__icons {
  display: flex;
  height: 120px;
  border-radius: 4px;
  background-color: $secondary-bg-color;
  margin-bottom: 30px;
  justify-content: center;
  align-items: center;
}
